@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 223.8136 -172.5242% 100%;
  --foreground: 223.8136 0% 3.9388%;
  --card: 223.8136 -172.5242% 100%;
  --card-foreground: 223.8136 0% 3.9388%;
  --popover: 223.8136 -172.5242% 100%;
  --popover-foreground: 223.8136 0% 3.9388%;
  --primary: 250.8075 100% 68.4314%;
  --primary-foreground: 223.8136 0.0004% 98.0256%;
  --secondary: 223.8136 0.0002% 96.0587%;
  --secondary-foreground: 223.8136 0% 9.0527%;
  --muted: 223.8136 0.0002% 96.0587%;
  --muted-foreground: 223.8136 0% 45.1519%;
  --accent: 223.8136 0.0002% 96.0587%;
  --accent-foreground: 223.8136 0% 9.0527%;
  --destructive: 351.7303 123.6748% 40.5257%;
  --destructive-foreground: 223.8136 -172.5242% 100%;
  --border: 223.8136 0.0001% 89.8161%;
  --input: 223.8136 0.0001% 89.8161%;
  --ring: 223.8136 0% 63.0163%;
  --chart-1: 244.2857 100% 89.0196%;
  --chart-2: 243.75 100% 78.0392%;
  --chart-3: 250.8075 100% 68.4314%;
  --chart-4: 249.9429 77.7778% 55.8824%;
  --chart-5: 250.1408 66.3551% 41.9608%;
  --sidebar: 223.8136 0.0004% 98.0256%;
  --sidebar-foreground: 223.8136 0% 3.9388%;
  --sidebar-primary: 223.8136 0% 9.0527%;
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-accent: 223.8136 0.0002% 96.0587%;
  --sidebar-accent-foreground: 223.8136 0% 9.0527%;
  --sidebar-border: 223.8136 0.0001% 89.8161%;
  --sidebar-ring: 223.8136 0% 63.0163%;
  --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
  --font-orbitron: Orbitron, sans-serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --tracking-normal: 0.01em;
  --spacing: 0.23rem;
}

.dark {
  --background: 0 0% 1.9608%;
  --foreground: 0 0% 94.902%;
  --card: 223.8136 0% 9.0527%;
  --card-foreground: 223.8136 0.0004% 98.0256%;
  --popover: 223.8136 0% 14.9382%;
  --popover-foreground: 223.8136 0.0004% 98.0256%;
  --primary: 250.8075 100% 68.4314%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 14.1176%;
  --secondary-foreground: 223.8136 0.0004% 98.0256%;
  --muted: 223.8136 0% 14.9382%;
  --muted-foreground: 223.8136 0% 63.0163%;
  --accent: 223.8136 0% 25.0471%;
  --accent-foreground: 223.8136 0.0004% 98.0256%;
  --destructive: 358.7594 101.8439% 69.8357%;
  --destructive-foreground: 223.8136 0.0004% 98.0256%;
  --border: 0 0% 12.9412%;
  --input: 0 0% 27.0588%;
  --ring: 223.8136 0% 45.1519%;
  --chart-1: 244.2857 100% 89.0196%;
  --chart-2: 243.75 100% 78.0392%;
  --chart-3: 250.8075 100% 68.4314%;
  --chart-4: 249.9429 77.7778% 55.8824%;
  --chart-5: 250.1408 66.3551% 41.9608%;
  --sidebar: 0 0% 9.0196%;
  --sidebar-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-primary: 251.3208 100% 68.8235%;
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-accent: 223.8136 0% 14.9382%;
  --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-border: 223.8136 0% 15.5096%;
  --sidebar-ring: 223.8136 0% 32.1993%;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.typewriter-effect {
  display: inline-block;
  animation: typing 0.5s ease-out forwards;
}
